<!--sidebar-->
<c-sidebar #sidebar1="cSidebar" class="d-print-none sidebar sidebar-fixed border-end" colorScheme="dark" id="sidebar1"
  (narrowChange)="onNarrowChange($any($event))" (unfoldableChange)="onUnfoldableChange($any($event))"
  [narrow]="isNarrow" [unfoldable]="isUnfoldable" visible>
  <c-sidebar-header class="border-bottom border-white border-opacity-10">
    <c-sidebar-brand [routerLink]="['/dashboard']"
      class="text-decoration-none py-3 d-flex align-items-center justify-content-center">
      <img src="assets/logo.png" [class.me-1]="!isNarrow && !isUnfoldable"
        style="width: 38px; height: 38px; object-fit: contain; flex-shrink: 0;" alt="StageConnect Logo">
      <span class="brand-text fs-4 fw-bold text-white tracking-tight animate-fade-in">Stage<span
          style="color: #f7941e;">Connect</span></span>
    </c-sidebar-brand>
  </c-sidebar-header>

  <ng-scrollbar pointerEventsMethod="scrollbar" visibility="hover">
    <c-sidebar-nav [navItems]="navItems()" dropdownMode="close" compact />
  </ng-scrollbar>

  <c-sidebar-footer cSidebarToggle="sidebar1" class="border-top d-none d-lg-flex" toggle="unfoldable"
    style="cursor: pointer;">
    <button cSidebarToggler aria-label="Toggle sidebar fold"></button>
  </c-sidebar-footer>
</c-sidebar>

<!--main-->
<div class="wrapper d-flex flex-column min-vh-100">
  <!--app-header-->
  <app-default-header [cShadowOnScroll]="'sm'" class="mb-4 d-print-none header header-sticky p-0 shadow-sm"
    position="sticky" sidebarId="sidebar1" />
  <!--app-body-->
  <div class="body flex-grow-1">
    <c-container breakpoint="lg" class="h-auto px-4">
      <router-outlet />
    </c-container>
  </div>
  <!--app footer-->
  <app-default-footer />
</div>